[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true

[packages]
gs_usb = {editable = true, path = "."}

[dev-packages]
twine = "*"
black = "*"

[scripts]
publish = "python setup.py upload"
